# ===================================================================
# Spring Boot configuration for the "kubernetes" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
  kafka:
    bootstrap-servers:
      - iaf-system-kafka-bootstrap:9092
